*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.self_page {
  background-image: url(../photo/banner.png);
  height: 958px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 280px;
  max-width: 100%;
}
.container {
  max-width: 100%;
  text-align: center;
}
.homepage {
  color: white;
  @include xl {
    padding-left: 120px;
    padding-right: 120px;
  }
  @include md {
    padding: 0px;
  }
  .title {
    display: inline-block;
    text-align: left;
    padding-left: 40px;
  }
  .name {
    text-align: left;
    h1 {
      margin-top: 20px;
      font-style: italic;
    }
    h3 {
      margin-top: 28px;
      line-height: 32px;
    }
  }
  .icons {
    margin-top: 32px;
  }
}

.about {
  margin-top: 400px;
  img {
    margin-top: 36px;
  }
  h3 {
    margin-top: 20px;
  }
  .school {
    line-height: 28px;
  }
  .hr {
    border: solid 1px black;
    width: 400px;
    display: inline-block;
    text-align: center;
  }

  .textAndBalls {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .redBalls {
      border: solid 1px #891818;
      border-radius: 100%;
      width: 22px;
      height: 22px;
      background-color: #891818;
    }
    .intro_flex_text {
      font-size: 24px;
      margin-left: 10px;
    }
  }
}

.myBrand {
  background-color: black;
  color: white;
  margin-top: 100px;
  @include xl {
    padding-left: 120px;
    padding-right: 120px;
  }
  @include md {
    padding: 0px;
  }

  h2 {
    padding: 28px;
  }
  .h3 {
    margin-top: 36px;
    line-height: 32px;
  }
  .brand_img1 img {
    width: 100%;
    @include xl {
      padding: 40px 240px 40px 240px;
    }
    @include lg {
      padding: 40px 120px 40px 120px;
    }
    @include md {
      padding: 20px 60px 20px 60px;
    }
  }
  .brand_img_flex {
    display: flex;
    @include md {
      display: block;
    }
    img {
      width: 100%;
      @include md {
        padding: 20px 60px 20px 60px;
      }
    }
    .brand_img2 {
      margin-right: 20px;
      width: 100%;
    }
    .brand_img3 {
      width: 100%;
    }
  }
}

.other_works {
  margin-top: 100px;
  h3 {
    margin-top: 20px;
    line-height: 32px;
  }
  @include xl {
    padding-left: 120px;
    padding-right: 120px;
  }
  @include md {
    padding: 0px;
  }

  .works {
    display: flex;
    margin-top: 24px;
    img {
      width: 100%;
    }
    h3 {
      @include md {
        font-size: 20px;
      }
      margin-top: 4px;
    }

    .work_img2,
    .work_img7 {
      margin-left: 12px;
      margin-right: 12px;
    }
    .work_img4 {
      margin-right: 12px;
    }
  }
}

.footer {
  background-color: black;
  color: white;
  margin-top: 100px;

  h2 {
    padding: 32px 32px 0px 32px;
  }
  .mail_tel {
    padding-bottom: 32px;
  }
  a {
    color: white;
    display: block;
    margin-top: 12px;
    text-decoration: none;
  }
}
