@mixin banner_position {
  color: white;
  position: absolute;
  top: 235px;
  left: 520px;
  @include ipad {
    top: 235px;
    left: 290px;
  }
  @include iphone {
    left: 295px;
  }
}

@mixin mac {
  @media all and (max-width: 1280px) {
    @content;
  }
}
@mixin ipad {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin iphone {
  @media all and (max-width: 767px) {
    @content;
  }
}
