/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.self_page {
  background-image: url(../photo/banner.png);
  height: 958px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 280px;
  max-width: 100%;
}

.container {
  max-width: 100%;
  text-align: center;
}

.homepage {
  color: white;
}
@media all and (max-width: 1920px) {
  .homepage {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media all and (max-width: 768px) {
  .homepage {
    padding: 0px;
  }
}
.homepage .title {
  display: inline-block;
  text-align: left;
  padding-left: 40px;
}
.homepage .name {
  text-align: left;
}
.homepage .name h1 {
  margin-top: 20px;
  font-style: italic;
}
.homepage .name h3 {
  margin-top: 28px;
  line-height: 32px;
}
.homepage .icons {
  margin-top: 32px;
}

.about {
  margin-top: 400px;
}
.about img {
  margin-top: 36px;
}
.about h3 {
  margin-top: 20px;
}
.about .school {
  line-height: 28px;
}
.about .hr {
  border: solid 1px black;
  width: 400px;
  display: inline-block;
  text-align: center;
}
.about .textAndBalls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.about .textAndBalls .redBalls {
  border: solid 1px #891818;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  background-color: #891818;
}
.about .textAndBalls .intro_flex_text {
  font-size: 24px;
  margin-left: 10px;
}

.myBrand {
  background-color: black;
  color: white;
  margin-top: 100px;
}
@media all and (max-width: 1920px) {
  .myBrand {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media all and (max-width: 768px) {
  .myBrand {
    padding: 0px;
  }
}
.myBrand h2 {
  padding: 28px;
}
.myBrand .h3 {
  margin-top: 36px;
  line-height: 32px;
}
.myBrand .brand_img1 img {
  width: 100%;
}
@media all and (max-width: 1920px) {
  .myBrand .brand_img1 img {
    padding: 40px 240px 40px 240px;
  }
}
@media all and (max-width: 1280px) {
  .myBrand .brand_img1 img {
    padding: 40px 120px 40px 120px;
  }
}
@media all and (max-width: 768px) {
  .myBrand .brand_img1 img {
    padding: 20px 60px 20px 60px;
  }
}
.myBrand .brand_img_flex {
  display: flex;
}
@media all and (max-width: 768px) {
  .myBrand .brand_img_flex {
    display: block;
  }
}
.myBrand .brand_img_flex img {
  width: 100%;
}
@media all and (max-width: 768px) {
  .myBrand .brand_img_flex img {
    padding: 20px 60px 20px 60px;
  }
}
.myBrand .brand_img_flex .brand_img2 {
  margin-right: 20px;
  width: 100%;
}
.myBrand .brand_img_flex .brand_img3 {
  width: 100%;
}

.other_works {
  margin-top: 100px;
}
.other_works h3 {
  margin-top: 20px;
  line-height: 32px;
}
@media all and (max-width: 1920px) {
  .other_works {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media all and (max-width: 768px) {
  .other_works {
    padding: 0px;
  }
}
.other_works .works {
  display: flex;
  margin-top: 24px;
}
@media all and (max-width: 768px) {
  .other_works .works {
    display: block;
  }
}
.other_works .works img {
  width: 100%;
}
.other_works .works h3 {
  margin-top: 4px;
}
@media all and (max-width: 768px) {
  .other_works .works h3 {
    font-size: 20px;
  }
}
@media all and (max-width: 768px) {
  .other_works .works .img {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 32px;
  }
}
.other_works .works .work_img2,
.other_works .works .work_img7 {
  margin-left: 12px;
  margin-right: 12px;
}
@media all and (max-width: 768px) {
  .other_works .works .work_img2,
.other_works .works .work_img7 {
    margin: 0px;
    margin-top: 32px;
  }
}
.other_works .works .work_img4 {
  margin-right: 12px;
}
@media all and (max-width: 768px) {
  .other_works .works .work_img4 {
    margin: 0px;
    margin-top: 32px;
  }
}

.footer {
  background-color: black;
  color: white;
  margin-top: 100px;
}
.footer h2 {
  padding: 32px 32px 0px 32px;
}
.footer .mail_tel {
  padding-bottom: 32px;
}
.footer a {
  color: white;
  display: block;
  margin-top: 12px;
  text-decoration: none;
}/*# sourceMappingURL=all.css.map */