/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

.banner {
  max-width: 100%;
}
.banner .banner_img {
  position: relative;
}
@media all and (max-width: 768px) {
  .banner .banner_img img {
    height: 500px;
  }
}
.banner .sentence {
  color: white;
  position: absolute;
  top: 250px;
  left: 520px;
}
@media all and (max-width: 768px) {
  .banner .sentence {
    top: 250px;
    left: 280px;
  }
}
@media all and (max-width: 767px) {
  .banner .sentence {
    left: 260px;
  }
}
.banner .title {
  color: white;
  position: absolute;
  top: 250px;
  left: 520px;
  top: 300px;
  left: 550px;
}
@media all and (max-width: 768px) {
  .banner .title {
    top: 250px;
    left: 280px;
  }
}
@media all and (max-width: 767px) {
  .banner .title {
    left: 260px;
  }
}
.banner .title h1 {
  margin-bottom: 30px;
}
@media all and (max-width: 768px) {
  .banner .title {
    top: 270px;
    left: 290px;
  }
}
@media all and (max-width: 767px) {
  .banner .title {
    left: 280px;
  }
}
.banner .icons {
  position: absolute;
  top: 450px;
  left: 550px;
}
@media all and (max-width: 768px) {
  .banner .icons {
    top: 400px;
    left: 300px;
  }
}
@media all and (max-width: 767px) {
  .banner .icons {
    left: 280px;
  }
}

.about {
  max-width: 100%;
  text-align: center;
  margin: 40px 0px;
}
.about .intro {
  margin-top: 40px;
}
.about h3 {
  margin-top: 10px;
}
.about .line {
  display: inline-block;
  border: solid 1px #9d9d9d;
  width: 250px;
  height: 1px;
  margin: 20px 0px;
}
.about ul li {
  margin-bottom: 10px;
}
.about ul li .redBalls {
  display: inline-block;
  border: solid 1px #891818;
  background-color: #891818;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.myBrand {
  max-width: 100%;
  padding-top: 30px;
  margin-top: 100px;
  text-align: center;
  color: white;
  background-color: black;
}
.myBrand h2 {
  margin-bottom: 20px;
}
.myBrand h3 {
  font-weight: normal;
}
.myBrand span h3 {
  margin: 40px;
  line-height: 24px;
}
.myBrand .brandImgs {
  display: flex;
  padding: 20px 50px;
}
@media all and (max-width: 767px) {
  .myBrand .brandImgs {
    display: block;
  }
}

.works {
  max-width: 100%;
  text-align: center;
  margin-top: 60px;
}
.works h3 {
  margin-top: 30px;
  line-height: 24px;
}
.works .workImg {
  display: flex;
  margin-top: 30px;
}
@media all and (max-width: 1280px) {
  .works .workImg {
    margin-left: 80px;
  }
}
@media all and (max-width: 768px) {
  .works .workImg {
    margin-left: 0px;
  }
}

.footer {
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  background-color: black;
  color: white;
}
.footer h2 {
  margin-bottom: 20px;
}
.footer h3 {
  margin-top: 10px;
  font-weight: normal;
}/*# sourceMappingURL=all.css.map */